.chat_main
  .chat_main__group_info
    .chat_main__group_info__name
      .chat_main__group_info__name__group
        = @group.name
      .chat_main__group_info__name__member
        Member: 
        - @group.group_users.each do |group|
          = group.user.name
    .chat_main__group_info__edit
      = link_to edit_group_path(@group) do
        Edit
  .chat_main__message_list
    = render @messages
  .chat_main__message_form
    .chat_main__message_form__a
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: "chat_main__message_form__a__text", placeholder: "type a message"
        .chat_main__message_form__a__text__icon
          = f.label :image do
            = icon("fas", "image", class: "icon")
            = f.file_field :image, class: "file"
        = f.submit "Send", class: "chat_main__message_form__a__send" 
